.footerslide{
    color:white;
    background:#213375 ;
    height: 700px;
    a{
        color: white;
    }
}
.contact{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    justify-content: space-between;
    p{
        color: rgba(255, 255, 255, 0.663);
    }
}
.contactleft{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 25px;
    }
    a{
        line-height: 25px;
    }
    
}
.contactright{
    display: flex;
}
.columnleft,.columnright{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    line-height: 30px;
}
.columnleft{
    padding-right: 90px;
    line-height: 40px;
}
.columnright{
    font-size: 13px;
}
.logotransparent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img{
       filter:sepia(100%);
    }
}
.footerfixe{
    padding: 40px;
    background-attachment: fixed;
    background: #1b2a61;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.55);
    text-transform: uppercase;
    font-size: 24px;
    h6{
        margin:0;
    }
    p{
        color: rgba(255, 255, 255, 0.55);
        text-transform: initial;

    }
}