@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}
h5{
    color:rgba(138, 24, 24, 0.91);
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
}
span{
    color: #293a77;
    font-size: 30px;

}
p{
    color: #293a77;
    line-height: 30px;
    font-size: 17px;
}
