.burgermenu{
    height:27px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

}
.lineone{
    width:70%;
    height: 2px;
    background: white;
}
.linetwo{
    width:70%;
    height: 2px;
    background: white;
}
.linethree{
    width:35%;
    height: 2px;
    background: white;
    transition: all .3s ease-in-out;
}
.burgermenu:hover .linethree{
    width: 70%;
}