.news{
    padding: 50px;
    height: 400px;
}
.news1{
    margin-bottom: 30px;
    margin-top: 30px;
}
.imgbeach{
    background: url(../../img/makena.jpg) no-repeat center/cover ;
    height: 70vh;
}
.aloha{
    padding:30px
}